
body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    color: #102A43;
    background-color: #F0F4F8;
    margin: 0;
    letter-spacing: 1px;
    padding-bottom: 80px
}

.container {
    max-width: 560px;
    margin: 0 auto;
    padding: 0 24px;
}

header {
    background-color: #35469C;
    margin-bottom: 100px;
    height: 160px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

header img {
    width: 160px;
    border-radius: 80px;
    margin-bottom: -220px;
    border: 3px solid #243B53;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

ul, ol {
    padding-left: 24px;
}

ul li, ol li {
    line-height: 24px;
}

ul li strong {
    opacity: 0.8;
}

footer {
    background-color: #D9E2EC;
    padding: 16px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #BCCCDC;
}

a:link {
    color: #35469C;
    text-decoration: none;
}

a:visited {
    color: #9B1B5A;
}